@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LEXEND";
  src: url("../public/fonts/Lexend.ttf");
}

body {
  margin: 0;
  color: #555249;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-shape-divider-top-1690067049 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1690067049 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 73px;
}

.custom-shape-divider-top-1690067049 .shape-fill {
  fill: #206869;
}