@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mabry';
  src: url("../public/fonts/MabryPro-Regular.ttf");
}

@layer components {

}

body {
  margin: 0;
  color: #555249;
  font-family: 'Mabry', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
